
<!--Banner Start-->
<section class="breadcumnd__banner">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="banner__content">
               <h6>
                  Managed Cloud Hosting
               </h6>
               <h4>
                  Managed Secure Cloud Servers Hosting
               </h4>
               
               <p>
Managed cloud hosting provides a flexible, scalable solution where expert providers handle server setup, maintenance, security, and updates, allowing businesses to focus on growth without worrying about technical complexities.               </p>
               <ul class="ssd__list">
                  <li>
                    <span><i class="fa-solid fa-arrow-right"></i></span> <span>Managed Performance, Security, & Updates</span>
                  </li>
                  <li>
                     <span><i class="fa-solid fa-arrow-right"></i></span> <span>Faster Unlimited Services</span>
                  </li>
                  <li>
                     <span><i class="fa-solid fa-arrow-right"></i></span> <span>Performance & Unlimited hosting</span>
                  </li>
               </ul>
               <a href="https://wa.me/+201063194547?text=Hello,%20I%27m%20interested%20in%20your%20hosting%20services!" class="cmn--btn border__trans">
                  <span>Get Sterted</span>
               </a>
            </div>
         </div>
         <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="banner__Thumb">
               <img src="assets/img/hosting/clidhost.png" alt="about-img">
            </div>
         </div>
      </div>
   </div>
</section>
<!--Banner End-->

<!--Banner Section Start-->
<!-- <section class="pricing__domain cloud__hosting__price pt-80 pb-80">
   <div class="container">
         <div class="host__domian__wrapper">
            <div class="row g-4 align-items-center">
               <div class="col-xl-3 col-lg-4 col-md-6">
                     <div class="pricing__itmes">
                        <div class="header-pricing">
                           <h4 class="title">
                                 Basic
                           </h4>
                           <h6 class="theme3">
                                 $ 14.95 <span class="small">AUD</span>
                           </h6>
                           <span class="month">
                                 per month
                           </span>
                        </div>
                        <ul class="text-center">
                           <li>
                                 <span>20 GB</span> Disk Space
                           </li>
                           <li>
                                 <span>Unlimited</span> Databases
                           </li>
                           <li>
                                 <span>Unlimited</span> Mailbox
                           </li>
                           <li>
                                 <span>Outbound</span> Spam Filtering
                           </li>
                           <li>
                                 <span>Unlimited</span> Data Transfer
                           </li>
                           <li>
                                 <span>Daily</span> Backup
                           </li>
                        </ul>
                        <div class="bottom text-center">
                           <a href="#0" class="cmn--btn border__trans">
                                 <span class="text-black">Order Now</span>
                           </a>
                        </div>
                     </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                     <div class="pricing__itmes">
                        <div class="header-pricing">
                           <h4 class="title">
                                 Standard
                           </h4>
                           <h6 class="theme3">
                                 $ 18.95 <span class="small">AUD</span>
                           </h6>
                           <span class="month">
                                 per month
                           </span>
                        </div>
                        <ul class="text-center">
                           <li>
                                 <span>20 GB</span> Disk Space
                           </li>
                           <li>
                                 <span>Unlimited</span> Databases
                           </li>
                           <li>
                                 <span>Unlimited</span> Mailbox
                           </li>
                           <li>
                                 <span>Outbound</span> Spam Filtering
                           </li>
                           <li>
                                 <span>Unlimited</span> Data Transfer
                           </li>
                           <li>
                                 <span>Daily</span> Backup
                           </li>
                        </ul>
                        <div class="bottom text-center">
                           <a href="#0" class="cmn--btn border__trans">
                                 <span class="text-black">Order Now</span>
                           </a>
                        </div>
                     </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                     <div class="pricing__itmes">
                        <div class="header-pricing">
                           <h4 class="title">
                                 Advanced
                           </h4>
                           <h6 class="theme3">
                                 $ 33.95 <span class="small">AUD</span>
                           </h6>
                           <span class="month">
                                 per month
                           </span>
                        </div>
                        <ul class="text-center">
                           <li>
                                 <span>20 GB</span> Disk Space
                           </li>
                           <li>
                                 <span>Unlimited</span> Databases
                           </li>
                           <li>
                                 <span>Unlimited</span> Mailbox
                           </li>
                           <li>
                                 <span>Outbound</span> Spam Filtering
                           </li>
                           <li>
                                 <span>Unlimited</span> Data Transfer
                           </li>
                           <li>
                                 <span>Daily</span> Backup
                           </li>
                        </ul>
                        <div class="bottom text-center">
                           <a href="#0" class="cmn--btn border__trans">
                                 <span class="text-black">Order Now</span>
                           </a>
                        </div>
                     </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                     <div class="pricing__itmes">
                        <div class="header-pricing">
                           <h4 class="title">
                                 Brand Pro
                           </h4>
                           <h6 class="theme3">
                                 $ 39.95 <span class="small">AUD</span>
                           </h6>
                           <span class="month">
                                 per month
                           </span>
                        </div>
                        <ul class="text-center">
                           <li>
                                 <span>20 GB</span> Disk Space
                           </li>
                           <li>
                                 <span>Unlimited</span> Databases
                           </li>
                           <li>
                                 <span>Unlimited</span> Mailbox
                           </li>
                           <li>
                                 <span>Outbound</span> Spam Filtering
                           </li>
                           <li>
                                 <span>Unlimited</span> Data Transfer
                           </li>
                           <li>
                                 <span>Daily</span> Backup
                           </li>
                        </ul>
                        <div class="bottom text-center">
                           <a href="#0" class="cmn--btn border__trans">
                                 <span class="text-black">Order Now</span>
                           </a>
                        </div>
                     </div>
               </div>
            </div>
         </div>
   </div>
</section> -->
<!-- make this place for dedicated servers products data that downloaded from database that admin previosly uploaded -->
<!--Banner Section End-->

<!--Home Pricing Here-->
<section class="home__pricing pt-80 pb-120">
   <div class="container">
      <div class="domain__head max-700 mb-4">
         <h4 class="text-black wow fadeInDown" data-wow-delay="0.2s">
            Why Choose TopServers  For Your <span class="text-base">Cloud Server </span> Hosting? 
         </h4>
         <p>
TopServers stands out for its reliable managed cloud hosting, offering enhanced scalability, robust security features, automatic backups and updates, and 24/7 expert support. With optimized resource allocation and predictable pricing, we help businesses achieve faster load times, improved uptime, and reduced operational overhead, all while adapting to your evolving needs.         </p>
      </div>
      <div class="row g-4 align-items-center">
         <div class="col-xl-6">
            <div class="cloud__atos__right">
               <div class="row g-4">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                     <div class="home__price__items active__bg">
                        <div class="thumb">
                           <img src="assets/img/home/pricing/plan1.png" alt="img">
                        </div>
                        <div class="content">
                           <h5>
                              Resource your hosting
                           </h5>
                           <a href="https://wa.me/+201063194547?text=Hello,%20I%27m%20interested%20in%20your%20hosting%20services!" class="cmn--btn border__trans">
                              <span>
                                 Hosting....
                              </span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                     <div class="home__price__items">
                        <div class="thumb">
                           <img src="assets/img/home/pricing/plan2.png" alt="img">
                        </div>
                        <div class="content">
                           <h5>
                              Faster your hosting
                           </h5>
                           <a href="https://wa.me/+201063194547?text=Hello,%20I%27m%20interested%20in%20your%20hosting%20services!" class="cmn--btn border__trans">
                              <span>
                                 Hosting....
                              </span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                     <div class="home__price__items">
                        <div class="thumb">
                           <img src="assets/img/home/pricing/plan3.png" alt="img">
                        </div>
                        <div class="content">
                           <h5>
                              Recently work hosting
                           </h5>
                           <a href="https://wa.me/+201063194547?text=Hello,%20I%27m%20interested%20in%20your%20hosting%20services!" class="cmn--btn border__trans">
                              <span>
                                 Hosting....
                              </span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                     <div class="home__price__items">
                        <div class="thumb">
                           <img src="assets/img/home/pricing/plan4.png" alt="img">
                        </div>
                        <div class="content">
                           <h5>
                              Search your hosting
                           </h5>
                           <a href="https://wa.me/+201063194547?text=Hello,%20I%27m%20interested%20in%20your%20hosting%20services!" class="cmn--btn border__trans">
                              <span>
                                 Hosting....
                              </span>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="cloud__atos__left">
               <img src="assets/img/hosting/atos-cloud.png" alt="cloud">
            </div>
         </div>
      </div>
   </div>
</section>
<!--Home Pricing End-->

