<!--Banner Start-->
<section class="breadcumnd__banner">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="banner__content">
               <h6>
                  Flexible Pricing
               </h6>
               <h4>
                  Explore our flexible pricing plans for hosting
               </h4>
               <ul class="ssd__list">
                  <li>
                    <span><i class="fa-solid fa-arrow-right"></i></span> <span>1 month pricing package</span>
                  </li>
                  <li>
                     <span><i class="fa-solid fa-arrow-right"></i></span> <span>2 month pricing package</span>
                  </li>
                  <li>
                     <span><i class="fa-solid fa-arrow-right"></i></span> <span>3 month pricing package</span>
                  </li>
               </ul>
               <a href="https://wa.me/+201063194547?text=Hello,%20I%27m%20interested%20in%20your%20hosting%20services!" class="cmn--btn border__trans">
                  <span>Get Sterted</span>
               </a>
            </div>
         </div>
         <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="banner__Thumb">
               <img src="assets/img/hosting/pricing.png" alt="about-img">
            </div>
         </div>
      </div>
   </div>
</section>
<!--Banner End-->

<!--Banner Section Start-->
<section class="pricing__domain cloud__hosting__price pt-80 pb-80">
   <div class="container">
      <div class="section__header center mb-5">
         <h4 class="text-black wow fadeInDown" data-wow-delay="0.2s">
            Choose the  <span class="text-base">Plan</span>
         </h4>
      </div>
         <div class="host__domian__wrapper">
            <div class="row g-4 align-items-center">
               <div class="col-xl-4 col-lg-4 col-md-6">
                     <div class="pricing__itmes">
                        <div class="header-pricing">
                           <h4 class="title">
                                 Basic
                           </h4>
                           <h6 class="theme3">
                                 $ 14.99 <span class="small">USD</span><br><small style="color: #7a8a99;">E£ 930 EGP</small>
                           </h6>
                           <span class="month">
                                 per month
                           </span>
                        </div>
                        <ul class="text-center">
                           <li>
                                 <span>20 GB</span> Disk Space
                           </li>
                           <li>
                                 <span>Unlimited</span> Databases
                           </li>
                           <li>
                                 <span>Unlimited</span> Mailbox
                           </li>
                           <li>
                                 <span>Outbound</span> Spam Filtering
                           </li>
                           <li>
                                 <span>Unlimited</span> Data Transfer
                           </li>
                           <li>
                                 <span>Daily</span> Backup
                           </li>
                        </ul>
                        <div class="bottom text-center">
                           <a href="#0" class="cmn--btn border__trans">
                                 <span class="text-black">Order Now</span>
                           </a>
                        </div>
                     </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6">
                     <div class="pricing__itmes">
                        <div class="header-pricing">
                           <h4 class="title">
                                 Standard
                           </h4>
                           <h6 class="theme3">
                                 $ 19.99 <span class="small">USD</span><br><small style="color: #7a8a99;">E£ 1,235 EGP</small>
                           </h6>
                           <span class="month">
                                 per month
                           </span>
                        </div>
                        <ul class="text-center">
                           <li>
                                 <span>20 GB</span> Disk Space
                           </li>
                           <li>
                                 <span>Unlimited</span> Databases
                           </li>
                           <li>
                                 <span>Unlimited</span> Mailbox
                           </li>
                           <li>
                                 <span>Outbound</span> Spam Filtering
                           </li>
                           <li>
                                 <span>Unlimited</span> Data Transfer
                           </li>
                           <li>
                                 <span>Daily</span> Backup
                           </li>
                        </ul>
                        <div class="bottom text-center">
                           <a href="#0" class="cmn--btn border__trans">
                                 <span class="text-black">Order Now</span>
                           </a>
                        </div>
                     </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6">
                     <div class="pricing__itmes">
                        <div class="header-pricing">
                           <h4 class="title">
                                 Advanced
                           </h4>
                           <h6 class="theme3">
                                 $ 34.99 <span class="small">USD</span><br><small style="color: #7a8a99;">E£ 2,170 EGP</small>
                           </h6>
                           <span class="month">
                                 per month
                           </span>
                        </div>
                        <ul class="text-center">
                           <li>
                                 <span>20 GB</span> Disk Space
                           </li>
                           <li>
                                 <span>Unlimited</span> Databases
                           </li>
                           <li>
                                 <span>Unlimited</span> Mailbox
                           </li>
                           <li>
                                 <span>Outbound</span> Spam Filtering
                           </li>
                           <li>
                                 <span>Unlimited</span> Data Transfer
                           </li>
                           <li>
                                 <span>Daily</span> Backup
                           </li>
                        </ul>
                        <div class="bottom text-center">
                           <a href="https://wa.me/+201063194547?text=Hello,%20I%27m%20interested%20in%20your%20hosting%20services!" class="cmn--btn border__trans">
                                 <span class="text-black">Order Now</span>
                           </a>
                        </div>
                     </div>
               </div>
            </div>
         </div>
   </div>
</section>
<!--Banner Section End-->
