<!--Banner Start-->
<section class="banner__section ">
   <div class="banner__items thumb__itemstwo">
      <div class="container">
         <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8">
               <div class="banner__content">
                  <h1 [innerHTML]="text('fullBannerTitle')"></h1>
                  <div class="btn__grp">
                     <a routerLink="/promos" class="cmn--btn">
                        <span>{{ text('getHosting') }}</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--Banner End-->

<!--Choose Start-->
<section class="choose__section pt-80 pb-80">
   <div class="container">
      <div class="section__header section-center">
         <h2 class="text-white wow fadeInDown" data-wow-delay="0.2s" [innerHTML]="text('whyChooseUs')"></h2>
         <p class="text-white wow fadeInDown" data-wow-delay="0.4s">{{ text('chooseUsDesc') }}</p>
      </div>
      <div class="row g-4 justify-content-between align-items-center">
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5">
            <ul class="choose__wrap">
               <li class="wow fadeInUp" data-wow-delay="0.2s">
                  <div class="content">
                     <h5>{{ text('smartWorkTitle') }}</h5>
                     <p>{{ text('smartWorkDesc') }}</p>
                  </div>
                  <div class="icon">
                     <i class="fa-solid fa-gear"></i>
                  </div>
               </li>
               <li class="wow fadeInUp" data-wow-delay="0.4s">
                  <div class="content">
                     <h5>{{ text('emailTitle') }}</h5>
                     <p>{{ text('emailDesc') }}</p>
                  </div>
                  <div class="icon">
                     <i class="fa-regular fa-envelope"></i>
                  </div>
               </li>
               <li class="wow fadeInUp" data-wow-delay="0.6s">
                  <div class="content">
                     <h5>{{ text('supportTitle') }}</h5>
                     <p>{{ text('supportDesc') }}</p>
                  </div>
                  <div class="icon">
                     <i class="fa-solid fa-headphones"></i>
                  </div>
               </li>
            </ul>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-2">
            <div class="choose__thumb">
               <img src="assets/img/choose/hostings.png" alt="hosting">
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5">
            <ul class="choose__wrap choose__wrap__two">
               <li class="wow fadeInUp" data-wow-delay="0.2s">
                  <div class="icon">
                     <i class="fa-sharp fa-solid fa-server"></i>
                  </div>
                  <div class="content">
                     <h5>{{ text('serverProtectionTitle') }}</h5>
                     <p>{{ text('serverProtectionDesc') }}</p>
                  </div>
               </li>
               <li class="wow fadeInUp" data-wow-delay="0.4s">
                  <div class="icon">
                     <i class="fas fa-cloud"></i>
                  </div>
                  <div class="content">
                     <h5>{{ text('cloudIntegrationTitle') }}</h5>
                     <p>{{ text('cloudIntegrationDesc') }}</p>
                  </div>
               </li>
               <li class="wow fadeInUp" data-wow-delay="0.6s">
                  <div class="icon">
                     <i class="fa-solid fa-plane-departure"></i>
                  </div>
                  <div class="content">
                     <h5>{{ text('hostingPlanTitle') }}</h5>
                     <p>{{ text('hostingPlanDesc') }}</p>
                  </div>
               </li>
            </ul>
         </div>
      </div>
      <div class="choose__btn mt-5 wow fadeInUp d-flex justify-content-center" data-wow-delay="0.2s">
         <a routerLink="/vps" class="cmn--btn">
            <span>{{ text('viewMoreAdvantages') }}</span>
         </a>
      </div>
   </div>
</section>
<!--Choose End-->
<!--Atos Hosting Start-->
<section class="atos__hosting pt-120 pb-120">
   <div class="container">
      <div class="section__header section__header__space">
         <h2 class="wow fadeInDown" data-wow-delay="0.2s" [innerHTML]="text('servicesTitle')"></h2>
         <p class="text-black wow fadeInDown" data-wow-delay="0.4s">{{ text('servicesDesc') }}</p>
      </div>
      <div class="row g-4">
         <div class="col-xxl-3 col-xl-3 col-lg-3">
            <div class="atos__left__wrap">
               <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                     <button class="nav-link active" id="home-tab10" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                     <span class="icon"><i class="fa-solid fa-desktop"></i></span>
                     <span>{{ text('tabDedicated') }}</span>
                  </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                     <span class="icon"><i class="fa-solid fa-cloud"></i></span>
                     <span>{{ text('tabVps') }}</span>
                  </button>
                  </li>

                </ul>
            </div>
         </div>
         <div class="col-xxl-9 col-xl-9 col-lg-9">
            <div class="atos__right__wrap">
               <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                     <div class="atos__body">
                        <div class="thumb">
                           <img src="assets/img/tab/tabhost1.jpg" alt="t-img">
                        </div>
                        <div class="content">
                           <h4 [innerHTML]="text('tabDedicatedTitle')"></h4>
                           <ul class="tagging__listing">
                              <li>
                                 <span><i class="fa-solid fa-check"></i></span>
                                 <span>{{ text('tabListItem1') }}</span>
                              </li>
                              <li>
                                 <span><i class="fa-solid fa-check"></i></span>
                                 <span>{{ text('tabListItem2') }}</span>
                              </li>
                              <li>
                                 <span><i class="fa-solid fa-check"></i></span>
                                 <span>{{ text('tabListItem3') }}</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                     <div class="atos__body">
                        <div class="thumb">
                           <img src="assets/img/tab/tabhost3.png" alt="t-img">
                        </div>
                        <div class="content">
                           <h4 [innerHTML]="text('tabVpsTitle')"></h4>
                           <ul class="tagging__listing">
                              <li>
                                 <span><i class="fa-solid fa-check"></i></span>
                                 <span>Manage Web Apps More Collaboration</span>
                              </li>
                              <li>
                                 <span><i class="fa-solid fa-check"></i></span>
                                 <span>Ubdate Web Hosting Collaboration</span>
                              </li>
                              <li>
                                 <span><i class="fa-solid fa-check"></i></span>
                                 <span>Creative Web Domain Collaboration</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                     <div class="atos__body">
                        <div class="thumb">
                           <img src="assets/img/tab/tabhost2.png" alt="t-img">
                        </div>
                     </div>
                  </div>
                </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--Atos Hosting End-->
<app-vps-carousel></app-vps-carousel>
<app-dedicated-carousel></app-dedicated-carousel>
<app-cta-section></app-cta-section>
